@mixin font($fs: 12px, $lh: 1.5, $ls: 0.04em) {
   font-size: $fs;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin animate($property, $time: 250ms, $cubic: cubic-bezier(0.4, 0, 0.2, 1)) {
   transition: $property $time $cubic;
}