:root {
   --color-main-title: #d41443;
   --color-sub-title: #ffa5ba;
   --color-menu: #ffffff;
   --color-text: #000000;
   --color-description: #907e82;
   --color-background-main-: #FFB8CA;
   --color-background-cofe: #F0D1A5;
   --color-background-shake: #C2E297;

   --font-main: "DM Sans", sans-serif;
   --font-title: 'Titan One', cursive;
}
