<header class="page-header">
   <div class="container">
      <nav class="page-header__main-nav">
         <a href="./index.html" class="logo-link">
            <img src="./images/logo.png" alt="логотип мороженного" class="logo-link__img">
         </a>
         <button type="button" class="mobile-open-btn" data-menu-button>
            <svg class="mobile-open-btn__icon" width="20" height="12">
               <use href="./images/svg/icons.svg#icon-burger"></use>
            </svg>
         </button>
         <!-- Меню бургер -->
         <div class="mobile-backdrop">
            <div class="menu-burger" data-menu>
               <button type="button" class="menu-burger__close-btn" data-menu-close>
                  <svg class="menu-burger__icon" width="14" height="14">
                     <use href="./images/svg/icons.svg#icon-close"></use>
                  </svg>
               </button>
   
               <button type="button" class="buy-btn buy-btn_indent">
                  <span class="buy-btn__text">Buy now</span> 
                  <svg class="buy-btn__icon" width="8" height="10">
                     <use href="./images/svg/icons.svg#icon-button-arrow"></use>
                  </svg>
               </button>
               <ul class="main-nav item">
                  <li class="main-nav__item"><a href="./index.html" class="main-nav__link link accent-color">Home</a></li>
                  <li class="main-nav__item"><a href="" class="main-nav__link link">About us</a></li>
                  <li class="main-nav__item"><a href="" class="main-nav__link link">How it’s made?</a></li>
                  <li class="main-nav__item"><a href="" class="main-nav__link link">Our products</a></li>
                  <li class="main-nav__item"><a href="" class="main-nav__link link">Contact</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
</header>