<div class="modal-form" data-modal>
   <buttton type="button" data-modal-close class="modal-form__btn">
      <svg class="modal-form__icon" width="18" height="18">
         <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
   </buttton>
   <form action="#" method="post" class="form">
      <b class="form__title">Please leave your details and we'll call you back to finalize your order</b>
      <label class="form__label">
         Your name
         <span class="form__container">
            <input type="text" name="user-name" minlength="2" required class="form__field">
            <svg class="form__icon" width="18" height="18">
               <use href="./images/svg/icons.svg#icon-person"></use>
            </svg>
         </span>
      </label>
      <label class="form__label">
         Phone
         <span class="form__container">
            <input type="tel" name="user-tel" required class="form__field">
            <svg class="form__icon" width="18" height="18">
               <use href="./images/svg/icons.svg#icon-phone"></use>
            </svg>
         </span>
      </label>
      <label class="form__label">
         E-mail
         <span class="form__container"><input type="email" name="user-mail" required class="form__field">
            <svg class="form__icon" width="18" height="18">
               <use href="./images/svg/icons.svg#icon-email"></use>
            </svg>
         </span>
      </label>
      <label class="form__label">
         Order
         <textarea name="user-coment" class="form-coment" placeholder="Describe your order"></textarea>
      </label>
      <label class="form__label form__label_position">
         <input type="checkbox" name="agree-order" required class="form__checkbox visually-hidden">
         <svg class="form__icon form__icon_chek" width="15" height="15">
            <use href="./images/svg/icons.svg#icon-checked"></use>
         </svg>
         <span class="form__accept">I accept <a href="" class="form__link link">Terms and Conditions</a></span>
      </label>
      <button type="submit" class="form__btn">Send</button>
   </form>
</div>