<section class="section">
   <div class="container">
      <p class="subtitle">100% natural</p>
      <h2 class="main-title main-title_indent">products</h2>

      <ul class="nat-products item">
         <li class="nat-products__item">
            <picture>
               <source srcset="./images/products/cone-desktop.webp 1x, ./images/products/cone-desktop@2x.webp 2x"
                  media="(min-width: 1280px)" type="image/webp">
               <source srcset="./images/products/cone-desktop.png 1x, ./images/products/cone-desktop@2x.png 2x"
                  media="(min-width: 1280px)">
               <source srcset="./images/products/cone-tablet.webp 1x, ./images/products/cone-tablet@2x.webp 2x"
                  media="(min-width: 768px)" type="image/webp">
               <source srcset="./images/products/cone-tablet.png 1x, ./images/products/cone-tablet@2x.png 2x"
                  media="(min-width: 768px)">
               <source srcset="./images/products/cone-mob.webp 1x, ./images/products/cone-mob@2x.webp 2x"
                  media="(max-width: 767px)" type="image/webp">
               <source srcset="./images/products/cone-mob.png 1x, ./images/products/cone-mob@2x.png 2x"
                  media="(max-width: 767px)">
               <img class="nat-products__img" src="./images/products/cone-mob.png" alt="Мороженное">
            </picture>
            <h3 class="nat-products__title">ice cream</h3>
            <p class="nat-products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <input type="checkbox" name="btn-open" id="btn" class="nat-products__checkbox visually-hidden">
            <p class="nat-products__text-screen">
               <label for="btn" class="nat-products__btn-close">
                  <svg class="nat-products__icon nat-products__icon_fill" width="30" height="30">
                     <use href="./images/svg/icons.svg#icon-close"></use>
                  </svg>
               </label>
               <input type="checkbox" name="btn-open" id="btn" class="nat-products__checkbox visually-hidden">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique.
            </p>
            <label for="btn" class="nat-products__btn">
               <svg class="nat-products__icon" width="11" height="10">
                  <use href="./images/svg/icons.svg#icon-arrow-right"></use>
               </svg>
            </label>
         </li>
         <li class="nat-products__item">
            <picture>
               <source
                  srcset="./images/products/ice-coffee-desktop.webp 1x, ./images/products/ice-coffee-desktop@2x.webp 2x"
                  media="(min-width: 1280px)" type="image/webp">
               <source
                  srcset="./images/products/ice-coffee-desktop.png 1x, ./images/products/ice-coffee-desktop@2x.png 2x"
                  media="(min-width: 1280px)">
               <source
                  srcset="./images/products/ice-coffee-tablet.webp 1x, ./images/products/ice-coffee-tablet@2x.webp 2x"
                  media="(min-width: 768px)" type="image/webp">
               <source
                  srcset="./images/products/ice-coffee-tablet.png 1x, ./images/products/ice-coffee-tablet@2x.png 2x"
                  media="(min-width: 768px)">
               <source srcset="./images/products/ice-coffee-mob.webp 1x, ./images/products/ice-coffee-mob@2x.webp 2x"
                  media="(max-width: 767px)" type="image/webp">
               <source srcset="./images/products/ice-coffee-mob.png 1x, ./images/products/ice-coffee-mob@2x.png 2x"
                  media="(max-width: 767px)">
               <img class="nat-products__img" src="./images/products/ice-coffee-mob.png" alt="Мороженное">
            </picture>
            <h3 class="nat-products__title">ice coffee</h3>
            <p class="nat-products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <input type="checkbox" name="btn-open" id="btn-coffe" class="nat-products__checkbox visually-hidden">
            <p class="nat-products__text-screen nat-products__text-screen_color-cofe">
               <label for="btn-coffe" class="nat-products__btn-close">
                  <svg class="nat-products__icon nat-products__icon_fill" width="30" height="30">
                     <use href="./images/svg/icons.svg#icon-close"></use>
                  </svg>
               </label>
               <input type="checkbox" name="btn-open" id="btn-coffe" class="nat-products__checkbox visually-hidden">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique.
            </p>
            <label for="btn-coffe" class="nat-products__btn">
               <svg class="nat-products__icon" width="11" height="10">
                  <use href="./images/svg/icons.svg#icon-arrow-right"></use>
               </svg>
            </label>
         </li>
         <li class="nat-products__item">
            <picture>
               <source
                  srcset="./images/products/milkshake-desktop.webp 1x, ./images/products/milkshake-desktop@2x.webp 2x"
                  media="(min-width: 1280px)" type="image/webp">
               <source
                  srcset="./images/products/milkshake-desktop.png 1x, ./images/products/milkshake-desktop@2x.png 2x"
                  media="(min-width: 1280px)">
               <source
                  srcset="./images/products/milkshake-tablet.webp 1x, ./images/products/milkshake-tablet@2x.webp 2x"
                  media="(min-width: 768px)" type="image/webp">
               <source srcset="./images/products/milkshake-tablet.png 1x, ./images/products/milkshake-tablet@2x.png 2x"
                  media="(min-width: 768px)">
               <source srcset="./images/products/milkshake-mob.webp 1x, ./images/products/milkshake-mob@2x.webp 2x"
                  media="(max-width: 767px)" type="image/webp">
               <source srcset="./images/products/milkshake-mob.png 1x, ./images/products/milkshake-mob@2x.png 2x"
                  media="(max-width: 767px)">
               <img class="nat-products__img" src="./images/products/milkshake-mob.png" alt="Мороженное">
            </picture>
            <h3 class="nat-products__title">ice coffee</h3>
            <p class="nat-products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <input type="checkbox" name="btn-open" id="btn-shake" class="nat-products__checkbox visually-hidden">
            <p class="nat-products__text-screen nat-products__text-screen_color-green">
               <label for="btn-shake" class="nat-products__btn-close">
                  <svg class="nat-products__icon nat-products__icon_fill" width="30" height="30">
                     <use href="./images/svg/icons.svg#icon-close"></use>
                  </svg>
               </label>
               <input type="checkbox" name="btn-open" id="btn-shake" class="nat-products__checkbox visually-hidden">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Error voluptatibus aut
               pariatur a expedita nobis dolorum officiis perferendis porro, accusantium sunt. Optio ipsam nulla quidem
               excepturi blanditiis corporis veniam similique.
            </p>
            <label for="btn-shake" class="nat-products__btn">
               <svg class="nat-products__icon" width="11" height="10">
                  <use href="./images/svg/icons.svg#icon-arrow-right"></use>
               </svg>
            </label>
         </li>
      </ul>

   </div>
</section>