<section class="section">
   <div class="container">
      <p class="subtitle">100% natural</p>
      <h2 class="products-title">products</h2>

      <ul class="nat-products item">
         <li class="nat-products__item">
            <picture>

            </picture>
            <h3 class="nat-products__title">ice cream</h3>
            <p class="nat-products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="" class="nat-products__link">
               <svg class="nat-products__icon">
                  <use href=""></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</section>