<section class="section section_reviews">
   <div class="container">
      <h2 class="reviews-title visually-hidden">Rewiews</h2>
      <div class="slider">
         <div class="container-slider">
            <picture>
               <source srcset="./images/reviews/client-1.webp 1x, ./images/reviews/client-1@2x.webp 2x"
                  type="image/webp">
               <source srcset="./images/reviews/client-1.png 1x, ./images/reviews/client-1@2x.png 2x">
               <img class="client-img" src="./images/reviews/client-1.png" alt="Клиент">
            </picture>
            <div class="container-reviews">
               <svg class="reviews-icon" width="54" height="40">
                  <use href="./images/svg/icons.svg#icon-cavics"></use>
               </svg>
               <p class="reviews-comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                  In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="review-from">Emily, Los Angeles</p>
         </div>
         <div class="container-slider">
            <picture>
               <source srcset="./images/reviews/client-2.webp 1x, ./images/reviews/client-2@2x.webp 2x"
                  type="image/webp">
               <source srcset="./images/reviews/client-2.png 1x, ./images/reviews/client-2@2x.png 2x">
               <img class="client-img" src="./images/reviews/client-2.png" alt="Клиент">
            </picture>
            <div class="container-reviews">
               <svg class="reviews-icon" width="54" height="40">
                  <use href="./images/svg/icons.svg#icon-cavics"></use>
               </svg>
               <p class="reviews-comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                  In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                  In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="review-from">Emily, Los Angeles</p>
         </div>
         <div class="container-slider">
            <picture>
               <source srcset="./images/reviews/client-3.webp 1x, ./images/reviews/client-3@2x.webp 2x"
                  type="image/webp">
               <source srcset="./images/reviews/client-3.png 1x, ./images/reviews/client-3@2x.png 2x">
               <img class="client-img" src="./images/reviews/client-3.png" alt="Клиент">
            </picture>
            <div class="container-reviews">
               <svg class="reviews-icon" width="54" height="40">
                  <use href="./images/svg/icons.svg#icon-cavics"></use>
               </svg>
               <p class="reviews-comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                  In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <p class="review-from">Emily, Los Angeles</p>
         </div>
      </div>
   </div>
</section>