<section class="section section_timetables">
   <div class="container">
      <ul class="timetables item">
         <li class="timetables__item">
            <h2 class="timetables__title">CAFE</h2>
            <p class="timetables__city">Chicago</p>
            <p class="timetables__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="timetables__time-days">
               <p class="timetables__days">Monday - Friday</p>
               <p class="timetables__time">06:00 AM - 10:00 PM</p>
               <p class="timetables__days">Saturday - Sunday</p>
               <p class="timetables__time">08:00 AM - 16:00 PM</p>
            </div>
            <a class="timetables__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="timetables__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
         </li>
         <li class="timetables__item">
            <h2 class="timetables__title timetables__title_back-color">FOODTRUCK</h2>
            <p class="timetables__city">Los Angeles</p>
            <p class="timetables__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="timetables__time-days">
               <p class="timetables__days">Monday - Friday</p>
               <p class="timetables__time">06:00 AM - 10:00 PM</p>
               <p class="timetables__days">Saturday - Sunday</p>
               <p class="timetables__time">08:00 AM - 16:00 PM</p>
            </div>
            <a class="timetables__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="timetables__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
         </li>
         <li class="timetables__item">
            <h2 class="timetables__title">CAFE</h2>
            <p class="timetables__city">New York</p>
            <p class="timetables__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="timetables__time-days">
               <p class="timetables__days">Monday - Friday</p>
               <p class="timetables__time">06:00 AM - 10:00 PM</p>
               <p class="timetables__days">Saturday - Sunday</p>
               <p class="timetables__time">08:00 AM - 16:00 PM</p>
            </div>
            <a class="timetables__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="timetables__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
         </li>
      </ul>

      <ul class="timetables-btn item">
         <li class="timetables-btn__item">
            <a href="" class="timetables-btn__link link">Our Locations
               <svg class="timetables-btn__icon" width="6" height="10">
                  <use href="./images/svg/icons.svg#icon-button-arrow"></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</section>