.buy-btn {
   display: block;
   width: 209px;
   height: 44px;
   line-height: 0;
   padding: 0;
   background-color: var(--color-menu);
   border: none;
   border-radius: 22px;
   margin: 0 auto;
   cursor: pointer;

   &_indent {
      margin-bottom: 30px;
   }

   &__text {
      @include font(16px, 1.31, 0);
      font-weight: 700;
      color: var(--color-main-title);
   }

   &__icon {
      fill: var(--color-main-title);
   }
}
