.btn-made {
   width: 83px;
   height: 24px;
   font-size: 8px;
   line-height: 1.25;
   color: var(--color-main-title);
   background-color: var(--color-menu);
   border-radius: 20px;
   border: none;

   &:focus,
   &:hover {
      background-color: #ECEBEB;
   }

   @media screen and (min-width: 1280px) {
      & {
         width: 138px;
         height: 40px;
         font-size: 14px;
         line-height: 1.29;
      }
   }
}
