.btn-products {
   width: 62px;
   height: 24px;
   font-size: 8px;
   line-height: 1.25;
   color: var(--color-menu);
   background-color: var(--color-main-title);
   border-radius: 20px;
   border: none;

   &:focus,
   &:hover {
      background-color: #C7133E;
   }

   @media screen and (min-width: 1280px) {
      & {
         width: 102px;
         height: 40px;
         font-size: 14px;
         line-height: 1.29;
      }
   }

   &_indent {
      margin-right: 8px;
   }

   @media screen and (min-width: 1280px) {
      &_indent {
         margin-right: 15px;
      }
   }
}
