.features-made {
   @media screen and (min-width: 768px) {
      & {
         display: flex;
      }
   }

   &__item {
      width: 230px;
   }

   @media screen and (min-width: 1280px) {
      &__item {
         width: 330px;
      }
   }

   @media screen and (max-width: 767px) {
      &__item:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   @media screen and (min-width: 768px) {
      &__item:not(:last-child) {
         margin-right: 60px;
      }
   }

   @media screen and (min-width: 1280px) {
      &__item:not(:last-child) {
         margin-right: 30px;
      }
   }

   &__item::before {
      content: "";
      display: block;
      height: 50px;
      background-image: url(/images/advantages/bucket.png);
      background-repeat: no-repeat;
      margin-bottom: 15px;
   }

   @media screen and (min-width: 768px) {
      &__item::before {
         margin-bottom: 40px;
      }
   }

   &__item:nth-child(2)::before {
      background-image: url(/images/advantages/fruits.png);
   }

   &__item:nth-child(3)::before {
      background-image: url(/images/advantages/ice-cream.png);
   }

   &__figures {
      font-family: var(--font-title);
      @include font(36px, 1.14);
      text-transform: uppercase;
      color: var(--color-main-title);
      margin-bottom: 10px;
   }

   @media screen and (min-width: 768px) {
      &__figures {
         @include font(48px, 1.15);
      }
   }

   @media screen and (min-width: 1280px) {
      &__figures {
         @include font(58px, 1.14);
      }
   }

   &__text {
      font-weight: 700;
      @include font(12px, 1.7, 0);
   }

   @media screen and (min-width: 768px) {
      &__text {
         @include font(14px, 1.74, 0);
      }
   }

   @media screen and (min-width: 1280px) {
      &__text {
         @include font(16px, 1.76, 0.02em);
      }
   }
}
