.social {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 50px;

   &__item {
   }

   &__item:not(:last-child) {
      margin-right: 30px;

      @media screen and (min-width: 1280px) {
         & {
            margin-right: 25px;
         }
      }
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      width: 32px;
      height: 32px;
      background-color: #FEA5BB;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
         & {
            width: 34px;
            height: 34px;
         }
      }

      &:hover,
      &:focus {
         background-color: #D41342;
      }
   }

   &__icon {
      fill: #ffffff;
   }
}
