.social {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 50px;

   &__item {
   }

   &__item:not(:last-child) {
      margin-right: 30px;

      @media screen and (min-width: 1280px) {
         & {
            margin-right: 25px;
         }
      }
   }

   &__link {
      display: block;
      line-height: 0;
   }

   &__icon {
      fill: var(--color-menu);

      @media screen and (min-width: 768px) {
         & {
            width: 34px;
            height: 34px;
         }
      }
   }
}
