.container-section_its-made {
   margin-bottom: 40px;

   @media screen and (min-width: 768px) {
      & {
         display: flex;
         margin-bottom: 65px;
         padding-top: 50px;
      }
   }

   @media screen and (min-width: 1280px) {
      & {
         margin-bottom: 140px;
      }
   }

   &_text {
      @media screen and (min-width: 768px) {
         & {
            padding-top: 50px;
            padding-left: 15px;
         }
      }
   }

   &_text {
      @media screen and (min-width: 1280px) {
         & {
            padding-top: 50px;
            padding-left: 75px;
         }
      }
   }
}
