.hero-girl {
   position: absolute;
   z-index: 5;
   right: 0;
   bottom: -34px;

   @media screen and (max-width: 767px) {
      & {
         display: none;
      }
   }

   @media screen and (min-width: 1280px) {
      & {
         bottom: -56px;
      }
   }
}
