.read-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 175px;
   height: 45px;
   background-color: #ffffff;
   border-radius: 22px;
   font-weight: 700;
   @include font(14px, 1.29, 0);
   color: var(--color-main-title);
   margin: 0 auto;
  

   @media screen and (min-width: 768px) {
      & {
         margin: 0 0 0 0;
         @include font (16px, 1.31, 0);
      }
   }

   &:hover,
   &:focus {
      background-color: #ECEBEB;
   }

   &__icon {
      margin-left: 14px;
      color: var(--color-main-title);
   }
}
