.section_footer {
   background-color: #fff5f6;
   padding-top: 60px;
   padding-bottom: 25px;

   @media screen and (min-width: 768px) {
      & {
         padding-top: 80px;
         padding-bottom: 20px;
      }
   }

   @media screen and (min-width: 1280px) {
      & {
         padding-bottom: 10px;
      }
   }

   &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 90px;
      height: 1px;
      width: 100%;
      background-color: #e1e1e1;

      @media screen and (min-width: 768px) {
         & {
            bottom: 75px;
         }
      }

      @media screen and (min-width: 1280px) {
         & {
            bottom: 45px;
         }
      }
   }
}
