.section_reviews {
   padding-top: 0;
   padding-bottom: 170px;
   

   @media screen and (min-width: 768px) {
      & {
         padding-bottom: 200px;
      }
   }

   @media screen and (min-width: 1280px) {
      & {
         padding-bottom: 230px;
      }
   }
}
