.products-title {
   font-family: var(--font-title);
   @include font (34px, 1.15);
   text-transform: uppercase;
   color: var(--color-main-title);
   text-align: center;

   @media screen and (min-width: 768px) {
      & {
         font-size: 48px;
      }
   }

   @media screen and (min-width: 1280px) {
      & {
         @include font (58px, 1.14, 0.06em);
      }
   }

   &_indent {
      margin-bottom: 140px;
   }

   @media screen and (min-width: 768px) {
      &_indent {
         margin-bottom: 150px;
      }
   }

   @media screen and (min-width: 1280px) {
      &_indent {
         margin-bottom: 260px;
      }
   }
}